<div class="row"></div>
<h1>Actions</h1>


<table>
  <tr>
      <th>Name</th>
      <th>How many times has the name been greeted</th>

  </tr>
  {{#each greetedNames}}
  <tr>
    <td>{{@key}}</td>
    <td>{{@this}}</td>
  </tr>
  {{/each}}
</table>
</div>
