<div class="row"></div>
<h1>Actions</h1>


<table>
  <tr>
      <th>Name</th>
      

  </tr>
  {{#each greetedNames}}
  <tr>
    <td>{{@key}}</td>
    
    {{!-- <td>{{this}}</td> --}}
  </tr>
  {{/each}}
</table>
</div>