<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Web Form</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="greet">



<div class="row"></div>


 <h1>Greet Count for {{this.userName }}</h1>
<p>{{this.greetMessage}}</p>
<table>
 



</table>

</div>

</div>

</body>
</html>