<div class="row"></div>
<h1>Names greeted</h1>


<table>
  <tr>
      <th>Name</th>

  </tr>
  
  {{#each greetedNames}}
  <tr>
     <td><a href="/userCount/{{@key}}">{{@key}}</a></td>
  </tr>
  {{/each}}
</table>
</div>
