<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Web Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="greet">



<div class="row"></div>
<h1>Names greeted</h1>


<table>

  
  {{#each greetedNames}}
  <tr>
     <td><a href="/userCount/{{this.name}}">{{this.name}}</a></td>

      <td>{{this.count}}</td> 
  </tr>
  {{/each}}



</table>

</div>

</div>

</body>
</html>