<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Web Form</title>
    <link rel="stylesheet" href="../stlye.css">
</head>
<body>
   

   

    <div class="main_heading">
        <h1>Greeting</h1>
    </div>

    <form greetaction="/action" method="POST">
    
    </form>
  
   <form action="/greetings" method="POST"> 

        <div class="intro">
            <label for="name">Name:</label>
            <input name="name" type="text" id="userName" class="textString" placeholder="Enter a name">
            <br>
            
        </div>


 

    <div class="message">
        <p class="greetingMessage" >
            {{ greetingMessage}}
        </p>

        
    </div>



     <div class="enter">
    <input type="radio" name="language" class="lang" id="english" value="english">
    <label for="english">English</label>
    <input type="radio" name="language" class="lang" id="isixhosa" value="isixhosa">
    <label for="isixhosa">IsiXhosa</label>
    <input type="radio" name="language" class="lang" id="french" value="french">
    <label for="french">French</label>
    <br>
    <span class="greetCount"><a href="/greetAction" > Total Greeted: </a>{{greetedCount }}</span>
    <div>
        
    <p class="validationMessage">{{ validationMessage }}</p>
</div> 
</div>

<div class="button">
    <button class="radiolanguage" type="submit">Greet</button>

 
  </div>

</form>


        
<form action="/reset" method="POST">
<div class="button">
      <button class="refreshBtn" type="submit">Reset</button>
    </div>


</form>
     


   



  

   

</body>
</html>


