.label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 5px;
    border: 1px solid yellow;
}
  /* }
  input[type="text"] {
    display: inline-block;
    width: 200px;
    padding: 5px;
  } */
  /* .greetPage{
    background-color: yellow;
  } */
body{
  background-image: url('./images/demo2.avif');
  
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 24px; 
} 




 


.message{
  text-align: center;
}

 .numberString{
  padding-right: 40px;
 
  height: 40px;
  width: 60px;
} 
.button-group {
  display: flex;
  justify-content: space-around; /* Add space between buttons */
  margin-top: 20px;
}

.main_heading{
   text-align: center;
  /* padding-right: 200px; */
  /*display: inline-block;*/
  /*padding: 10px;*/
  
 /* margin: 0 auto;*/
  
}
.user-count-page {
  background-image: url('./images/demo2.avif'); /* Add your background image URL here */
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-size: 24px;
}

input[type="text"] {
  display: inline-block;
  width: 200px;
  padding: 5px;
}

.intro{
  padding-bottom: 40px;
  text-align: center;
}

.enter{
  text-align: center;
}
    /* Additional styling for the table and page */
    table {
      width: 80%; /* Adjust as needed */
      margin: 0 auto; /* Center the table horizontally */
      border-collapse: collapse;
  }
  th, td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid yellowgreen;
  }
  th {
      background-color: yellowgreen;
  }
  .greet {
      text-align: center; /* Center page content */
      padding: 20px;
      background-color: yellowgreen; /* Add a semi-transparent background */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
.lang{
  display: inline-block;
    padding-top: 10px;
    text-align: center;
    margin-right: 10px;
}
.validationMessage{
  color:red;
}

.message{
  color:white;
  text-align: center;
}

.my_greetings{
    text-align:center;
    padding-bottom: 100px;
    padding-top: 40px;
}

.radioBtn{
    text-align: center;
    padding-top: 40px;
}

.button{
  text-align: center;
  padding-top: 40px;
}
.radiolanguage {
  margin-right: 10px;
}


.greetCount {
  display: inline-block;
  font-size: 20px; /* Adjust as needed */
}


@media(min-width:960px){
  .greetings{
       display:flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;

   }
}         